{% extends 'base.html' %} 
{%load static%} 
{% block title %}End subscription{% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row text-center">
    <div class="">
      <br /><br />
      <h2 style="color: #0fad00">Sorry</h2>
      <h3>Dear, {{ request.user.first_name }}</h3>
      <p style="font-size: 20px; color: #5c5c5c">
        We are sorry to inform you that you currently do not have any
        subscription plan.
      </p>
      <a href="{% url 'subscription' %}" class="btn btn-success">Subscribe Now</a>
      <br /><br />
    </div>
  </div>
  {% endblock content %}
</div>
