{% extends 'base.html' %}
{% load static%} 
{% block content %}
<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign in</h3>
            <form id="signup">
              <div
              id="output"
              class="text-center text-primary font-weight-medium alert"
            ></div>
                <div class="form-floating mb-4">
                  <input type="email"  class="form-control" id="email" placeholder="name@example.com">
                  <label for="email" >Email</label>
                  <div id="emailMessage"></div>
                </div>

                <div class="form-floating mb-4">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit" >Login</button>
              </div>
            </form>
            <hr class="my-4">
            <div class="d-grid gap-2">
              <a class="btn btn-secondary btn-lg btn-block" href="{% url 'register' %}">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %} 
{% block script %}

<script
type="text/javascript"
src="{% static 'assets/custom/js/passwordChecker.js' %}"
></script>
<script type="text/javascript">
    // Get Form and Sumbit
    $("#signup").on("submit", function (e) {
    e.preventDefault();
    
    $.ajax({
      type: "POST",
      url: "{% url 'login' %}" /* django ajax posting url  */,
      data: {
          email: $("#email").val(),
          password: $("#password").val(),
          csrfmiddlewaretoken: "{{ csrf_token }}",
          dataType: "json",
        },
        
        success: function (data) {
        console.log(data);
        if (data.error) {
          $("#signup").find(".alert").removeClass("alert-success");
          $("#signup").find(".alert").removeClass("none");
          $("#signup").find(".alert").addClass("alert-warning");
          $("#output").html(data.error); /* response message */
        } else {
            $("#signup").find(".alert").removeClass("alert-warning");
            $("#signup").find(".alert").removeClass("none");
            $("#signup").find(".alert").addClass("alert-success");
            $("#output").html(data.success); /* response message */
            window.setTimeout(function () {
                $("#signup").find("input[type=text], textarea").val("");
            }, 700);
            setTimeout(redirect, 2000);
            function redirect() {
                window.location.href = "{% url 'home' %}";
            }
        }
    },

    failure: function () {
        //       console.log(typeof(data.msg));
        // $('.alert').html(data.msg+"hello")
    },
    });
});
</script>

{% endblock script %}