{% extends 'base.html' %}
{% load static %}
{% block title %}
  Subscrition
{% endblock %}
{% block content %}
  <div class="container mb-3 py-3">
    <main>
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          {% for subscription in subscriptions %}
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">{{subscription.membership_type}}</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">{{subscription.price}}</h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>{{subscription.duration}} {{subscription.duration_period}}</li>
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <a href="{% url 'subscribe' %}?sub_plan={{subscription.membership_type}}" class="w-100 btn btn-lg btn-outline-primary">buy the plan {{subscription.membership_type}}</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
